
<main class="container">
  <header class="main-head"><%- include('partials/header') -%></header>
  <section class="wrapper">
    <div class="indexOne content">
      <nav class="main-nav">
        <ul>
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <!-- <a class="nav-link text-success border border-success rounded" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a> -->
              <a class="nav-link text-success border border-success rounded" id="v-pills-home-tab" data-toggle="pill" href="/login" role="tab" aria-controls="v-pills-home" aria-selected="true">Login</a>
              <a class="nav-link text-success border border-success rounded" id="v-pills-home-tab" data-toggle="pill" href="/signup" role="tab" aria-controls="v-pills-home" aria-selected="true">Signup</a>
              <!-- <a class="nav-link text-success border border-success rounded" id="v-pills-profile-tab" data-toggle="pill" href="/profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a> -->
              <!-- <a class="nav-link text-success border border-success rounded" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a> -->
              <!-- <a class="nav-link text-success border border-success rounded" id="v-pills-settings-tab" data-toggle="pill" href="/settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a> -->
            </div>
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"></div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"></div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"></div>
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"></div>
            </div>
        </ul>
      </nav>
    </div>
    <div class="index content">
      <div class="text-center">
        <h1 class=""><a class="link-success" href="/profile">Fruitful</a></h1>
        <span>A guide for the weird fruit explorers out there.</span>
      </div>
    </div>
    <div class="index content">
      <h4>Search for a Fruit!</h4>
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Jackfruit..." aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
    </div>
  </section>
</main>
    
<%- include('partials/footer') -%>

